/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0;
}

button:focus {
    outline: none;
}

hr {
    margin: 0;
    border-width: 3px;
}